<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale-1" />
    <title>Python Burguer's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a class="navbar-brand fw-bold" href="/">Python Burguer's</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
              <li class="nav-item">
                <a class="nav-link active" href="/">Início</a>
              </li>
              <li class="nav-item ms-lg-3">
                <a class="nav-link" href="/Cadastrocardapio">
                  Cadastro cardapio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cardapio">Cardápio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/encomendas">Encomendas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
              </li>
              <li class="nav-item ms-lg-3">
                <a class="btn btn-warning" href="/cliente">
                  Área do Cliente / Cadastro
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container text-center py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">

                <h1 class="display-4 fw-bold mb-3 mt-4">Bem-vindo!</h1>
                
                <p class="lead text-muted mb-4">
                    O sabor do código em cada mordida.
                </p>

                <hr class="my-4">

                <p class="mb-4">
                    Faça seu cadastro para agilizar seus pedidos.
                </p>

                <a class="btn btn-warning btn-lg" href="/cliente">
                    Cadastrar Cliente
                </a>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>